# exclude everything
arm_diags/model/*
arm_diags/observation/*
arm_diags/cmip/*
arm_diags/build/*
arm_diags/dist/*

# exception to the rule
!arm_diags/model/.gitkeep 
!arm_diags/observation/.gitkeep 
!arm_diags/cmip/.gitkeep 

